* {
  box-sizing: border-box;
}
.fivedaysRow {
  display: flex;
  flex-wrap: wrap;
}

.day {
  flex: 20%;
  margin: 5px;
  padding: 5px;
  min-width: 100px;
  
}

img {
  width: 60px;
}

.daygrouping {
  padding: 5px;
  text-align: center;
  background-color: lightblue;
  
}

/* .fivedaysRow::after{
  content: "";
  clear: both;
  display: table;
} */
